@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

body {
  font-family: 'Fugaz One', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

.stage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.center-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.title-default {
  font-size: 60px;
  background: -webkit-linear-gradient(left, rgb(255,51,0),rgb(23,81,168));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.title-red {
  font-size: 60px;
  background: -webkit-linear-gradient(left, rgb(50,8,100),rgb(23,81,168));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.sideLinks, .play-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  margin: 10px;
}

.sideLinks img {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 100px;
}

canvas {
  margin: auto;
  background-image: url('../images/boogie-background.png');
}

#info {
  color: white;
}

.mixpad {
  display: flex;
  justify-content: space-around;
}
.mixpad1, .mixpad2, .mixpad3, .mixpad4, .mixpad5, .play-button {
  border: none;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: rgb(190, 194, 206);
  font-family: 'Fugaz One', Times, serif;
}

.mixpad1:active, .mixpad2:active, .mixpad3:active, .mixpad4:active, .mixpad5:active, .play-button:active {
  outline: none;
}
.mixpad1:hover, .mixpad2:hover, .mixpad3:hover, .mixpad4:hover, .mixpad5:hover, .play-button:hover {
  outline: none;
}

.mixpad1:focus, .mixpad2:focus, .mixpad3:focus, .mixpad4:focus, .mixpad5:focus, .play-button:focus {
  outline: none;
}

.play-button {
  background-color: rgb(185, 62, 69);
  width: 100px;
  height: 75px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  line-height: 110%;
}

.mixpad1 {
  background-color: rgb(249, 54, 31);
}

.mixpad2 {
  background-color: rgb(66, 79, 142);
}

.mixpad3 {
  background-color: rgb(105, 73, 118);
}

.mixpad4 {
  background-color: rgb(185, 62, 69);
}

.mixpad5 {
  background-color: rgb(50, 8, 100);
}

.unmute {
  box-shadow: 0 0 1px 1px rgb(190, 194, 206), 0 0 1px 1px rgb(190, 194, 206);
}

.pad-labels {
  width: 415px;
  font-size: 20px;
  color: rgb(190, 194, 206);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.joe-link {
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin-left: 17px;
}

.play-controls {
  font-size: 13px;
  color: rgb(190, 194, 206);
  text-align: center;
  line-height: 120%;
  font-family: 'Quicksand', sans-serif;
}